<!DOCTYPE html>
<html>
<head>
  <title>StarterBlog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav">
        <% if current_user %>
        <%= link_to "Ana Sayfa", posts_path %>
        <%= link_to "Kullanıcılar",users_path %>
        <%= link_to "Profilim", edit_user_path(current_user.id)%>
        <%= link_to "Çıkış", :logout%>
        <% else %>
        <%= link_to "Kayıt ol", new_user_path%> |
        <%= link_to "Giriş", :login %>
        <% end %>
    </div>

<% flash.each do |key, value| %>
      <p><%= value %></p>
<% end %>

<%= yield %>

</body>
</html>
